body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: arial,sans-serif;
}

.mainstyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 13px;
}

li {
    display: inline;
    margin-right: 20px;
 }

.nav-link {
    text-decoration: none;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text { /* Does not affect form on Advanced Search page */
    width: 525px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 24px;
    margin-bottom: 8px; /* Add spacing between input and button */
}

input[type="submit"] {
    background-color: #f8f9fa;
    color: #3c4043;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    padding: 0 16px;
    cursor: pointer;
    margin: 11px 4px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

    input[type="submit"]:hover {
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
        background-color: #f8f9fa;
        border: 1px solid #dadce0;
        color: #202124;
    }

/* ///////////// Advanced Search page styles /////////////////////// */
.ad-search-heading {
    color: #d93025;
    font-size: 20px;
    margin: 35px 40px 25px;
    font-family: arial,sans-serif;
}

.divider {
    border-bottom: 1px solid #ebebeb;
} 

.advanced-search,
.advanced-search div {
    display: flex;
}

.advanced-search {
    flex-direction: column;
    max-width: 45%;
    margin: 50px 0 0 40px;
}

.advanced-search div,
.advanced-text {
    margin-bottom: 10px;
}

    .advanced-search div {
        flex-direction: row; /* Make sure label and input are in a row */
        justify-content: space-between;
    }

    .advanced-text {
        width: 75%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 1px;
    }

#ad-search-button {
    background-color: #4285f4;
    color: #fff;
    border: 1px solid #4285f4; /* To maintain text position when hovering */
    padding: 10px;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    border-color: transparent; /* To maintain text position when hovering */
}

    #ad-search-button:hover {
        background-color: #357ae8;
        border: 1px solid #2f5bb7;
    }

label {
    font-size: 13px;
    min-width: 130px; /* Set a minimum width for labels */
}

 
