body {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    font-family: arial,sans-serif;
}

.mainstyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

    nav ul {
        list-style: none;  
    }

    nav li {
        display: inline;
        margin-right: 20px;
    }

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text { /* Does not affect form on Advanced Search page */
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px; /* Add spacing between input and button */
}

input[type="submit"] {
    background-color: #4285f4; /* Google's color here is #f8f9fa*/
    color: #fff; /* Google's color here is #3c4043*/
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
}

.advanced-search {
    display: flex;
    flex-direction: column;
    max-width: 40%; 
    margin: 50px 0 0 40px;
}

    .advanced-search div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .advanced-text {
        width: 75%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 1px;
        margin-bottom: 10px;
    }

label {
    font-size: 13px;
}

 
